/*old color #67a300
new color #67a300
*/

body {
	/* background: url(../img/bg.jpg) no-repeat; */
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* Modern browsers */	
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: solid 1px gray;
}

header h1 {
    display: block;
    font-size: 2em;
    /* margin-right: 80px; */
}

header h3 {
    display: block;
    /* font-size: 2em; */
    /* margin-right: 80px; */
}



/* Form styles */


form {
    /* display: flex; */
    /* background-color: white; */
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
}

#model_input, #name_input, #email_input , #passportData_input
{
    flex: 1;
    margin: 0 10px;
    padding-left: 8px;
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;	
}

#description_input
{
    flex: 1;
    margin: 0 10px;
    padding-left: 8px;
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	margin-top: 5px;
}

#price_input {
	flex: 1;
    margin: 0 10px;
    padding-left: 8px;
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	margin-top: 5px;
	width: 70px;
}

#seatsQuantity_input {
	flex: 1;
    margin: 0 10px;
    padding-left: 8px;
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	margin-top: 5px;
	width: 35px;
}

#carclass_input, #color_input, #propulsion_input
{
    flex: 1;
    margin: 0 10px;    
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	background-color:white;
	margin-top: 5px;
}

#pickup_date, #drop-off_date, #driver_checkbox {
	flex: 1;
    margin: 0 10px;    
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	background-color:white;
	margin-top: 5px;
}

textarea {
    flex: 2;
    margin: 0 10px;
    padding-left: 8px;
    resize: none;
    border-color: #67a300;
    border-radius: 6px;
    outline-color: #67a300;
}

.input_submit {
    border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: #67a300;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;	
}

.select_button{	
	/* border-style: none;
    outline-color: transparent;
    border-radius: 6px;   
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
	text-align: center */
	flex: 1;
    margin: 0 10px;    
    border: 1px solid #67a300;
    border-radius: 6px;
    outline-color: #67a300;
	background-color:white
}

.select_button:hover, 
.button:hover, 
.caution_button:hover, 
.orange_button:hover, 
.users_button_in_orderlist:hover,
.caution_button_orderlist:hover,
.delete_ico_orderlist:hover,
.edit_ico_orderlist:hover {
	background-color: white;
	color: #b90000;
}

.buttons_block {
	flex:1;	
	display: flex;
    /* display: block; */
    background-color: white;
    border-radius: 4px;
    z-index: 98;	
	margin: 10px;

}

.button {
	border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: #67a300;
    color: #fff;    
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
	text-align: center
}

.caution_button {
	border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: brown;
    color: #fff;
    /* width: 100px;
    height: 40px; */
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
	text-align: center
}

.caution_button_orderlist {
	border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: brown;
    color: #fff;    
    cursor: pointer;
    margin-right: 5px;    
	text-align: center;
	vertical-align: middle;
	font: 
}

.orange_button {
	border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: orange;
    color: #fff;    
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
	text-align: center
}

/* Cars styles */

.car, .user, .overall_stats {    
    padding: 15px;
    border: 1px solid /* #f3f3f3 */;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	display: inline-table;
	text-align: center;
	border-color: lightskyblue;
	margin: 5px;
}

.stats_unit {
	font-weight: bold;
	padding: 10px;
	padding-bottom: 0px;
}

.stats_img {
	display: block;
}

.car_model, .user_name {
    font-size: 1.3em;
    font-weight: 500;
}

.cars_header, .users_header{		
	font-size: 1.3em;    
	margin: 10px;	
	margin-top: 30px;
} 

.order_header {
	font-size: 1.3em;    
	margin: 10px;	
}

/* .stats_header {
	font-size: 1.3em;    
	margin-top: 10px;	
} */

.car_unit, .user_unit  {    
}

.car_entry_form_level, .order_entry_form_level {
	width: 860px;
}

.car_edit_form_level{
}

.user_edit_form, .car_edit_form, .order_edit_form_level {
}

.car_entry_form_block, .order_entry_form_block {
    flex: 2;
    display: block;
    background-color: white;
    border-radius: 4px;
    z-index: 98;	
	margin: 15px;
}

.car_solecard_action_buttons_block, .user_solecard_action_buttons_block {
	display: inline-flex;
	margin-top: 10px;
}

.user_solecard_block-manager_buttons_block  {
}

.order_unit {
	text-align: center;
	padding: 5px;
}

.buttons_order_unit {
	/* vertical-align: baseline; */
	display: inline-table;
}

.order_table_legend {
	font-weight: bold
}

.users_button_in_orderlist {
	border-style: none;
    outline-color: transparent;
    border-radius: 6px;
    background-color: white;
    color: black;    
    cursor: pointer;    
	text-align: center;
	text-decoration: underline;

}

.order_table  { 
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	text-align: center;	
	border-radius: 10px;	
	border: 1px solid /* #f3f3f3 */;
	border-color: lightskyblue;
	/* vertical-align: baseline; */
	font-style: inherit
}

.stats_block {	
	text-align: center;			
	font-style: inherit;
	/* padding: 10px; */
	/* margin-top: 20px; */
	display: flex;
    align-items: flex-end;
}

.delete_ico_orderlist, 
.edit_ico_orderlist, 
.block_ico_userlist, 
.unblock_ico_userlist, 
.manager_ico_userlist {
	background-color: white;
	border-style: none;
    /* outline-color: transparent; */
	cursor: pointer;  
	vertical-align: baseline;	
	padding: 2px;	
}

.edit_ico_orderlist_in_orders{
	background-color: white;
	border-style: none;    
	cursor: pointer;  
	vertical-align: baseline;		
}

.color_input{	
}

.manager_img_userlist{
}

.version_block{
	font-size: 15px;
    margin-top: auto;
}

.errorDatesAssign {
	color: red;
	margin: 10px;
	display: inline;
}

.errorDatesAssignEdit {
	color: red;
	margin: 10px;	
}

.carDeleteErrorBlock {
	color: red;
	margin-top: 10px;
}