<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Автопрокат ::: Авто</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель адміна</h1>
        <h4 class="version_block" th:text="'v.' + ${@environment.getProperty('carrental.version')}"></h4>
    </header>

    <!--MAIN MENU -->
    <div class="buttons_block">
        <form action="/" method="get">
            <input type="submit" value="Головна" class="button">
        </form>
        <form action="#" th:action="@{/users}" th:method="get">
            <input type="submit" value="Користувачі" class="button">
        </form>
        <form action="#" th:action="@{/orders}" th:method="get">
            <input type="submit" value="Замовлення" class="button">
        </form>
        <form action="#" th:if="${soleCarCard}" th:action="@{/cars}" th:method="get">
            <input type="submit" value="Авто" class="button">
        </form>
    </div>

    <div class="car_entry_form_block" th:if="${showAddCarForm}">

        <!--CAR ENTRY FORM SECTION-->
        <form action="#" th:action="@{/cars}" th:method="post">
            <div class="car_entry_form_level">
                <label for="model_input">Марка</label>
                <input id="model_input" name="model" type="text" placeholder="Suzuki Across" required>
                <label for="description_input" id="description">Опис</label>
                <input id="description_input" name="description" placeholder="Зручна і якісна" required>
                <label for="price_input">€</label>
                <input id="price_input" name="price" type="text" placeholder="10.00" title="[xx.yy]" required
                       pattern="\d+[.]?\d*">
            </div>

            <div class="car_entry_form_level">
                <label for="carclass_input">Клас</label>
                <select class="select_button" id="carclass_input" name="carClass">
                    <option th:each="car_class : ${carClassArr}" th:value="${car_class}"
                            th:text="${car_class}"></option>
                </select>
                <label for="seatsQuantity_input" id="seatsQuantity">Місць</label>
                <input id="seatsQuantity_input" name="seatsQuantity" type="text" placeholder="5"
                       required pattern="\d+">
                <!--<label for="color_input">Колір</label>
                <select class="select_button" id="color_input" name="color">
                    <option th:each="car_color : ${carColorArr}" th:value="${car_color}"
                            th:text="${car_color}"></option>
                </select>-->
                <label for="propulsion_input">Рушій</label>
                <select class="select_button" id="propulsion_input" name="propulsion">
                    <option th:each="propulsion : ${carPropulsionArr}" th:value="${propulsion}"
                            th:text="${propulsion}"></option>
                </select>
                <input type="submit" value="Додати" class="button">
            </div>
        </form>
    </div>

    <!--CARS READOUT SECTION-->
    <div class="cars_header">Автомобілі</div>
    <div class="car" th:each="car : ${carList}">
        <div class="car_unit" th:text="'№ '+${car.id}"></div>
        <div class="car_model" th:text="${car.model}"></div>
        <div class="car_unit" th:text="${car.description}"></div>
        <div class="car_unit" th:text="${car.carClass}"></div>
        <div class="car_unit" th:text="'€ '+${car.price}"></div>
        <div class="car_unit" th:text="'Місць: '+${car.seatsQuantity}"></div>
        <!--<div class="car_unit" th:text="${car.color}"></div>-->
        <div class="car_unit" th:text="${car.propulsion}"></div>
        <div class="car_unit">∑<span><sub>пот</sub></span>
            <span th:text="': ' + ${car.available}"></span>
        </div>
        <div class="car_unit">∑<span><sub>заг</sub></span>
            <span th:text="': ' + ${car.totalQty}"></span>
        </div>

        <!--CAR MODIFY ACTIONS BUTTONS-->
        <div class="car_solecard_action_buttons_block">
            <form action="#" th:action="@{'/cars/'+${car.id}}" th:method="delete">
                <button type="submit" class="delete_ico_orderlist">
                    <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                </button>
            </form>
            <a href="edit.html" th:href="@{'/edit/'+${car.id}+'/car'}">
                <img class="edit_ico_orderlist" th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
            </a>
        </div>

    </div>
    <!--CONTEXT ACTIONS BUTTONS-->
    <div class="buttons_block" th:if="${!carList.isEmpty()} and ${showAddCarForm}">
        <form action="#" th:action="@{/cars}" th:method="delete">
            <input type="submit" value="Видалити все" class="caution_button">
        </form>
    </div>

    <!--CARS ORDERS READOUT SECTION-->
    <div class="order_header" th:unless="${carOrdersList.isEmpty and !soleCarCard}">Замовлення</div>
    <table class="order_table" th:unless="${carOrdersList.isEmpty and !soleCarCard}">
        <thead>
        <tr class="order_table_legend">
            <th>№</th>
            <th>Користувач</th>
            <th>Початок</th>
            <th>Кінець</th>
            <th>Тривалість</th>
            <th>Сума</th>
            <th>Водій</th>
            <th>Статус</th>
            <th colspan="2">Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order" th:each="order : ${carOrdersList}">
            <td class="order_unit" th:text="${order.id}"></td>
            <td class="order_unit">
                <a href="users.html" th:href="@{'/users/'+${order.user.id}}" th:text="${order.user.name}"></a>
            </td>
            <td class="order_unit" th:text="${order.dateBegin}"></td>
            <td class="order_unit" th:text="${order.dateEnd}"></td>
            <td class="order_unit" th:text="${order.duration}+' діб'"></td>
            <td class="order_unit" th:text="'€'+${order.amount}"></td>
            <td class="order_unit" th:text="${order.auxNeeded}"></td>
            <td class="order_unit" th:text="${order.status}"></td>
            <td class="buttons_order_unit">
                <form action="#" th:action="@{'/orders/'+${order.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_orderlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_order_unit">
                <a href="edit.html" th:href="@{'/edit/'+${order.id}+'/order'}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class = "carDeleteErrorBlock" th:if="${showErrorCarUsedInOrder}">
        Неможливо видалити авто з чинного замовлення, видаліть або відредагуйте замовлення з цим авто
    </div>


</div>

</body>
</html>