<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Автопрокат ::: Редагування</title>
</head>
<body>
<div class="wrapper">
    <header>
        <h1 class="title">Панель адміна</h1>
        <h4 class="version_block" th:text="'v.' + ${@environment.getProperty('carrental.version')}"></h4>
    </header>
    <div class="buttons_block">
        <form action="/" method="get">
            <input type="submit" value="Головна" class="button">
        </form>
        <form action="#" th:action="@{/cars}" th:method="get">
            <input type="submit" value="Авто" class="button">
        </form>
        <form action="#" th:action="@{/orders}" th:method="get">
            <input type="submit" value="Замовлення" class="button">
        </form>
        <form action="#" th:action="@{/users}" th:method="get">
            <input type="submit" value="Користувачі" class="button">
        </form>
    </div>

    <div th:switch="${action}">
        <div th:case="user" class="user_edit_form">
            <div class="cars_header" th:text="@{'Редагувати користувача ' +${user.name}}"></div>
            <form action="#" th:action="@{'/users/' + ${user.id}}" th:method="patch">
                <label for="name_input"></label>
                <input id="name_input" name="name" type="text" th:placeholder="${user.name}"
                       pattern="^[А-ЯҐЇІЄ|A-Z]{1}[а-яґїіє|a-z]{2,}\s[А-ЯҐЇІЄ|A-Z]{1}[а-яґїіє|A-za-z]{2,}.+$"
                       title="Степан Жменя / John Mitchell">
                <label for="email_input"></label>
                <input id="email_input" name="email" th:placeholder="${user.email}" title="user@domain.com"
                       pattern="\b[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+\b">
                <label for="passportData_input"></label>
                <input id="passportData_input" name="passportData" th:placeholder="${user.passportData}"
                       pattern="^[A-Z]{2}[0-9]{6}" title="XY123456">
                <input type="submit" value="Оновити" class="button">
            </form>
        </div>

        <div th:case="car" class="car_edit_form">
            <div class="cars_header" th:text="@{'Редагувати авто '+${car.model}}"></div>
            <form action="#" th:action="@{'/cars/' + ${car.id}}" th:method="patch">
                <div class="car_edit_form_level">
                    <label for="model_input">Марка</label>
                    <input id="model_input" name="model" type="text" th:placeholder="${car.model}" >
                    <label for="description_input" id="description">Опис</label>
                    <input id="description_input" name="description" th:placeholder="${car.description}" >
                    <label for="price_input">€</label>
                    <input id="price_input" name="price" type="text" th:placeholder="${car.price}" title="[xx.yy]"
                            pattern="\d+[.]?\d*">
                </div>
                <div class="car_edit_form_level">
                    <label for="carclass_input">Клас</label>
                    <select class="select_button" id="carclass_input" name="carClass" th:field="${car.carClass}">
                        <option th:each="car_class : ${carClassArr}" th:value="${car_class}"
                                th:text="${car_class}"></option>
                    </select>
                    <label for="seatsQuantity_input" id="seatsQuantity">Місць</label>
                    <input id="seatsQuantity_input" name="seatsQuantity" type="text"
                           th:placeholder="${car.seatsQuantity}"  pattern="\d+">
                    <!--<label for="color_input">Колір</label>
                    <select class="select_button" id="color_input" name="color" th:field="${car.color}">
                        <option th:each="car_color : ${carColorArr}" th:value="${car_color}"
                                th:text="${car_color}"></option>
                    </select>-->
                    <label for="propulsion_input">Рушій</label>
                    <select class="select_button" id="propulsion_input" th:field="${car.propulsion}"
                            name="propulsion">
                        <option th:each="car_propulsion : ${carPropulsionArr}" th:value="${car_propulsion}"
                                th:text="${car_propulsion}"></option>
                    </select>
                    <input type="submit" value="Оновити" class="button">
                </div>
            </form>
        </div>

        <div th:case="order" class="order_edit_form">
            <div class="order_header"
                 th:text="@{'Редагувати замовлення '+${order.user.name}+' на '+ ${order.car.model}}">
            </div>
            <form action="#" th:action="@{'/orders/' + ${order.id}}" th:method="patch">
                <div class="order_edit_form_level">
                    <label for="order_model"></label>
                    <select class="select_button" id="order_model" name="car_id" >
                        <option th:each="car : ${carList}" th:value="${car.id}"
                                th:text="${car.model}"></option>
                    </select>

                    <label for="pickup_date">Початок</label>
                    <input id="pickup_date" name="dateBegin" type="date"
                           th:value="${order.dateBegin}" th:min="${currentDate}" required>
                    <label for="drop-off_date">Кінець</label>
                    <input id="drop-off_date" name="dateEnd" type="date" th:min="${currentNextDate}"
                           th:value="${order.dateEnd}" required>
                    <label for="driver_checkbox">Водій</label>
                    <input id="driver_checkbox" type="checkbox"
                           th:checked="${order.auxNeeded}" name="auxNeeded"/>
                    <input type="submit" value="Оновити" class="button">
                    <div class="errorDatesAssignEdit" th:if="${errorDatesAssign}">Помилка встановлення дати</div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>