<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Автопрокат ::: Замовлення</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель адміна</h1>

        <div class="stats_block" th:unless="${errorDatesAssign}">

                <div class="stats_unit"><img class = "stats_img" th:src="@{/img/order-icon.png}" th:title="Замовлень"/></div>
                <div class="stats_unit" th:text="${ordersQuantity}"></div>
                <div class="stats_unit"><img class = "stats_img" th:src="@{/img/car-icon.png}" th:title="Авто"/></div>
                <div class="stats_unit" th:text="${carsQuantity}"></div>
                <div class="stats_unit"><img class = "stats_img" th:src="@{/img/user-icon.png}" th:title="Користувачів"/></div>
                <div class="stats_unit" th:text="${usersQuantity}"></div>
                <div class="stats_unit"><img class = "stats_img" th:src="@{/img/euro-icon.png}" title="Сума замовлень"/></div>
                <div class="stats_unit" th:text="${ordersAmount}"></div>

        </div>

        <h4 class="version_block" th:text="'v.' + ${@environment.getProperty('carrental.version')}"></h4>
    </header>

    <!--MAIN MENU -->
    <div class="buttons_block">
        <form action="#" th:action="@{/cars}" th:method="get">
            <input type="submit" value="Авто" class="button">
        </form>
        <form action="#" th:action="@{/users}" th:method="get">
            <input type="submit" value="Користувачі" class="button">
        </form>
    </div>

    <!--ORDER ENTRY FORM SECTION-->
    <div class="order_entry_form_block">
        <form action="#" th:unless="${blockOrderEntryFormDisplay}"
              th:action="@{/orders}" th:method="post">
            <div class="order_entry_form_level">
                <label for="order_user">Користувач</label>
                <select class="select_button" id="order_user" name="user_id">
                    <!-- many efforts to retrieve field userId from User,
                    therefore it's relayed via ModelAttrib as String -->
                    <option th:each="user : ${userList}" th:value="${user.id}"
                            th:text="${user.name}"></option>
                </select>
                <label for="order_model">Марка</label>
                <select class="select_button" id="order_model" name="car_id">
                    <option th:each="car : ${carList}" th:value="${car.id}"
                            th:text="${car.model}"></option>
                </select>
            </div>
            <div class="order_entry_form_level">
                <label for="pickup_date">Початок</label>
                <input id="pickup_date" name="dateBegin" type="date" th:value="${currentDate}"
                       placeholder="ДД-ММ-РРРР" th:min="${currentDate}" required>
                <label for="drop-off_date">Кінець</label>
                <input id="drop-off_date" name="dateEnd" type="date" th:min="${currentNextDate}"
                       placeholder="ДД-ММ-РРРР" required>
                <label for="driver_checkbox">Водій</label>
                <input id="driver_checkbox" type="checkbox" checked value="true"
                       th:checked="${auxNeeded}" name="auxNeeded"/>
                <input type="submit" value="Додати" class="button">
                <div class="errorDatesAssign" th:if="${errorDatesAssign}">
                    Помилка встановлення дати
                </div>
            </div>
        </form>
    </div>

    <!--ORDERS READOUT SECTION-->
    <div class="order_header">Замовлення</div>
    <table class="order_table" th:unless="${orderList.isEmpty}">
        <thead>
        <tr class="order_table_legend">
            <th><a href="/orders/sortById" title="Сорт за номером">№</a></th>
            <th><a href="/orders/sortByName" title="Сорт за ім'ям">Користувач</a></th>
            <th><a href="/orders/sortByModel" title="Сорт за маркою">Марка</a></th>
            <th><a href="/orders/sortByDateBegin" title="Сорт за датою початку">Початок</a></th>
            <th><a href="/orders/sortByDateEnd" title="Сорт за датою кінця">Кінець</a></th>
            <th><a href="/orders/sortByDuration" title="Сорт за тривалістю">Тривалість</a></th>
            <th><a href="/orders/sortByAmount" title="Сорт за сумою">Сума</a></th>
            <th>Водій</th>
            <th>Статус</th>
            <th colspan="2">Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order" th:each="order : ${orderList}">
            <td class="order_unit" th:text="${order.id}"></td>
            <td class="order_unit">
                <a href="users.html" th:href="@{'/users/'+${order.user.id}}"
                   th:text="${order.user.name}"></a>
            </td>

            <td class="order_unit">
                <a href="cars.html" th:href="@{'/cars/'+${order.car.id}}"
                   th:text="${order.car.model}"></a>
            </td>
            <td class="order_unit" th:text="${order.dateBegin}"></td>
            <td class="order_unit" th:text="${order.dateEnd}"></td>
            <td class="order_unit" th:text="${order.duration}+' діб'"></td>
            <td class="order_unit" th:text="'€'+${order.amount}"></td>
            <td class="order_unit" th:text="${order.auxNeeded}"></td>
            <td class="order_unit" th:text="${order.status}"></td>

            <td class="buttons_order_unit">
                <form action="#" th:action="@{'/orders/'+${order.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_orderlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_order_unit">
                <a href="edit.html" th:href="@{'/edit/'+${order.id}+'/order'}">
                    <img class="edit_ico_orderlist_in_orders"
                         th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--CONTEXT ACTIONS BUTTONS-->
    <div class="buttons_block" th:if="${!orderList.isEmpty()}">
        <form action="#" th:action="@{/orders}" th:method="delete">
            <input type="submit" value="Видалити все" class="caution_button">
        </form>
        <div class="carDeleteErrorBlock" th:if="${showErrorCarUsedInOrder}">
            Неможливо видалити авто з чинних замовлень, спочатку видаліть замовлення з цими авто
        </div>
    </div>



</div>
</body>
</html>