<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Car Rental ::: Orders</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель адміна</h1>
    </header>

    <!--MAIN MENU -->
    <div class="buttons_block">
        <form action="#" th:action="@{/cars}" th:method="get">
            <input type="submit" value="Авто" class="button">
        </form>
        <form action="#" th:action="@{/users}" th:method="get">
            <input type="submit" value="Користувачі" class="button">
        </form>
    </div>

    <!--ORDER ENTRY FORM SECTION-->
    <div class="order_entry_form_block">
        <form action="#" th:action="@{/orders}" th:method="post">
            <div class="order_entry_form_level">
                <label for="order_user">Користувач</label>
                <select class="select_button" id="order_user" name="user_id">
                    <!-- many efforts to retrieve field userId from User,
                    therefore it relayed via ModelAttrib as String -->
                    <option th:each="user : ${userList}" th:value="${user.id}"
                            th:text="${user.name}"></option>
                </select>
                <label for="order_model">Марка</label>
                <select class="select_button" id="order_model" name="car_id">
                    <option th:each="car : ${carList}" th:value="${car.id}"
                            th:text="${car.model}"></option>
                </select>
            </div>

            <div class="order_entry_form_level">
                <label for="pickup_date">Початок</label>
                <input id="pickup_date" name="dateBegin" type="date" placeholder="ДД-ММ-РРРР" required>

                <label for="drop-off_date">Кінець</label>
                <input id="drop-off_date" name="dateEnd" type="date" placeholder="ДД-ММ-РРРР" required>

                <label for="driver_checkbox">Водій</label>
                <input id="driver_checkbox" type="checkbox" checked value = "true"
                       th:checked="${auxNeeded}" name="auxNeeded"/>



                <input type="submit" value="Додати" class="button">
            </div>
        </form>
    </div>

    <!--USERS READOUT SECTION-->

    <div class="order_header">Замовлення</div>
    <table class="order_table" th:unless="${orderList.isEmpty}">
        <thead>
        <tr class="order_table_legend">
            <th>№</th>
            <th>Користувач</th>
            <th>Марка</th>
            <th>Початок</th>
            <th>Кінець</th>
            <th>Тривалість</th>
            <th>Сума</th>
            <th>Водій</th>
            <th>Статус</th>
            <th>Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order" th:each="order : ${orderList}">
            <td class="order_unit" th:text="${order.id}"></td>
            <td class="order_unit">
                <!--<form action="#" th:action="@{'/users?id='+${order.user.id}}" th:method="get">
                    <input type="hidden"/>
                    <button type="submit" th:text="${order.user.name}" class="users_button_in_orderlist">
                    </button>
                </form>-->
                <a href="users.html" th:href="@{'/users/'+${order.user.id}}" th:text="${order.user.name}"></a>
            </td>
            <!--<td class="order_unit" th:text="${order.car.model}"></td>-->

            <td class="order_unit">
                <a href="cars.html" th:href="@{'/cars/'+${order.car.id}}" th:text="${order.car.model}"></a>
            </td>
            <td class="order_unit" th:text="${order.dateBegin}"></td>
            <td class="order_unit" th:text="${order.dateEnd}"></td>
            <td class="order_unit" th:text="${order.durability}+' діб'"></td>
            <td class="order_unit" th:text="'€'+${order.amount}"></td>
            <td class="order_unit" th:text="${order.auxNeeded}"></td>
            <td class="order_unit" th:text="${order.status}"></td>
            <td>
                <form action="#" th:action="@{'/orders/'+${order.id}}" th:method="delete">
                    <input type="hidden"/>
                    <button type="submit" class="delete_ico_orderlist">
                        <img th:src="@{/img/delete-button.png}" th:title = "Видалити" />
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!--CONTEXT ACTIONS BUTTONS-->
    <div class="buttons_block" th:if="${!orderList.isEmpty()}">
        <form action="#" th:action="@{/orders}" th:method="delete">
            <input type="submit" value="Видалити все" class="caution_button">
        </form>
    </div>
</div>
</body>
</html>