<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">

    <title>Car Rental ::: Users</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель адміна</h1>
    </header>

    <!--MAIN MENU -->
    <div class="buttons_block">
        <form action="#" th:action="@{/cars}" th:method="get">
            <input type="submit" value="Авто" class="button">
        </form>
        <form action="#" th:action="@{/orders}" th:method="post">
            <input type="submit" value="Замовлення" class="button">
        </form>
    </div>

    <!--USERS READOUT SECTION-->
    <div class="car" th:each="user : ${userList}">
        <div class="id_car" th:text="'№ ' + ${user.id}"></div>
        <div class="model_car" th:text="${user.name}"></div>
        <div class="description_car" th:text="${user.email}"></div>
        <div class="carclass_car" th:text="'Паспорт: ' + ${user.passportData}"></div>
        <div class="carclass_car" th:text="'Доступ: ' + ${user.accessLevel}"></div>
        </br>
        <a href="edit.html" th:href="@{'/edit/'+${user.id}}">Редагувати</a>
        <div class="user_block_btn" th:unless="${user.accessLevel == 'BLOCKED'
        or user.accessLevel == 'ADMIN'
        or user.accessLevel == 'MANAGER' }">
            <form action="#" th:action="@{'/users/'+${user.id}}" th:method="delete">
                <input type="submit" value="Видалити" class="caution_button">
            </form>
        </div>
        <div class="user_block_btn" th:unless="${user.accessLevel == 'BLOCKED' or user.accessLevel == 'ADMIN' }">
            <form action="#" th:action="@{'/users/block/'+${user.id}}" th:method="post">
                <input type="submit" value="Блокувати" class="orange_button">
            </form>
            <div class="user_block_btn" th:if="${user.accessLevel == 'USER'}">
                <form action="#" th:action="@{'/users/setMgr/'+${user.id}}" th:method="post">
                    <input type="submit" value="Менеджер" class="button">
                </form>
            </div>
        </div>
        <div class="user_unblock_btn" th:if="${user.accessLevel == 'BLOCKED'}">
            <form action="#" th:action="@{'/users/unblock/'+${user.id}}" th:method="post">
                <input type="submit" value="Розблокувати" class="button">
            </form>
        </div>
        </br>
    </div>

    <!--CONTEXT ACTIONS BUTTONS-->
    <div class="buttons_block" th:if="${!userList.isEmpty()}">
        <form action="#" th:action="@{/edit/deleteAll}" th:method="delete">
            <input type="submit" value="Видалити все" alt="Ви впевнені???" class="caution_button">
        </form>
    </div>
    <!--<br>
    <div class="form_block">
        &lt;!&ndash;CAR ENTRY FORM SECTION&ndash;&gt;
        <form action="#" th:action="@{/cars}" th:method="post">
            <label for="model_input">Марка</label>
            <input id="model_input" name="model" type="text" placeholder="Suzuki Across" required>
            <br><br>
            <label for="description_input" id="text_label">Опис</label>
            <input id="description_input" name="description" placeholder="Зручна і якісна" required></input>
            <br><br>
            <label for="carclass_input">Клас</label>
            <select class="select_button" id="carclass_input" name="carClass">
                <option th:each="car_class : ${carClassArr}" th:value="${car_class}" th:text="${car_class}"></option>
            </select>
            <br><br>
            <label for="price_input">Ціна</label>
            <input id="price_input" name="price" type="text" placeholder="10.00" title="[xx.yy]" required
                   pattern="\d+[.]?\d*">
            <br><br>
            <input type="submit" value="Додати" class="input_submit">
        </form>
    </div>-->

</div>
</body>
</html>