<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Автопрокат ::: Панель користувача</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель користувача</h1>

        <div class="errorLowBalance" th:if="${lowBalanceError}">
            <div>Недостатньо коштів на рахунку. Поповніть баланс на €<strong th:text="${insufficient}"></strong></div>
        </div>
        <div class="errorDatesAssignUserAccount" th:if="${errorDatesAssign}">
            <span>Помилка встановлення дати</span>
        </div>
        <div class="errorBlockedUser" th:if="${blockedUserError}">
            <span>Користувача заблоковано: команду скасовано</span>
        </div>
        <div class="errorCarNotAvailable" th:if="${carNotAvailError}">
            <span>Вибачте, автомобіль недоступний</span>
        </div>

        <div class="top-up_panel">
            <form action="#" th:modelAttribute="balance" th:action="@{'/users/' + ${user.id}+'/top-up'}"
                  th:method="patch">
                <label for="balance_input" id="balance">€</label>
                <input id="balance_input" name="balance" type="text" placeholder="100"
                       title="Введіть число" required pattern="\d+[.]?\d*">
                <input type="submit" value="Поповнити баланс" class="button">
            </form>
        </div>
    </header>

    <div class="buttons_block">
        <form action="/" method="get">
            <input type="submit" value="Головна" class="button">
        </form>
        <form action="#" th:unless="${userQty lt id}"
              th:action="@{'/users/account/' + ${id}}" method="get">
            <input type="submit" value="Наступний" class="button">
        </form>
    </div>

    <!--USER READOUT SECTION-->
    <div class="user_data_block_USER_ACCOUNT">
        <div class="users_header">Ваші дані</div>
        <div th:class="${user.accessLevel.toString() == 'BLOCKED'} ? user_blocked : user">
            <div class="user_name" th:text="${user.name}"></div>
            <div class="user_unit" th:text="${user.email}"></div>
            <div class="user_unit" th:text="'Паспорт: ' + ${user.passportData}"></div>
            <div class="user_unit">Баланс: €<span class="user_solecard_values" th:text="${user.balance}"></span></div>
            <div class="user_unit" th:if="${user.accessLevel.toString() == 'BLOCKED'}"
                 th:text="'Статус: ' + ${user.accessLevel.str}">
            </div>
            <div class="user_solecard_action_buttons_block">
                <a class="edit_ico_orderlist" href="edit.html" th:href="@{'/edit/'+${user.id}+'/user'}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </div>
        </div>
    </div>

    <!--TRANSACTIONS WINDOW SECTION-->
    <div class="transactions_window">
        <div class="tx_header">Транзакції</div>
        <div class="tx">
            <div class="tx_unit" th:each="tx : ${tx_list}" th:text="${tx.body}"></div>
        </div>
    </div>

    <!--ORDER ENTRY FORM SECTION-->
    <h4 class="order_entry_form_section_USER_ACCOUNT"></h4>
    <div class="order_header_user_account">Нове замовлення:</div>
    <h5 class="user_hints_block">Для бронювання потрібно внести завдаток <strong>30%</strong> повної вартості оренди,
        після чого на рахунку буде заблокована сума страхового депозиту в розмірі <strong>€1000</strong>,
        однак наявність авто гарантоване <strong>не буде</strong>. В разі внесення <strong>100%</strong> коштів вартості
        оренди,
        сума депозиту складе <strong>€500</strong>, і даний автомобіль буде автоматично заброньований за користувачем.
        Сума страхового депозиту буде розблокована протягом <strong>3</strong> днів після повернення авто до прокатної
        служби. В разі затримки повернення авто до прокатної служби користувач буде зобов'язаний сплатити
        <strong>подвійну</strong>
        вартість прокату за кожен день затримки, яка буде автоматично вирахувана із внесеного депозиту.
    </h5>
    <div class="order_entry_form_block_user_account">
        <form action="#" th:action="${checkout} ? @{'/orders/saveCheckoutOrder/'+${user.id}} :
        @{'/orders/'+${user.id}}" th:method="post">
            <div class="order_entry_form_level_user_account">
                <label for="order_model">Марка</label>
                <select th:unless="${checkout}" class="select_button_user_account" id="order_model"
                        th:name="car_id">
                    <option class="pullDownMenu_items" th:each="car : ${carList}" th:value="${car.id}"
                            th:text="${car.model}"></option>
                </select>
                <span class="car_model_checkout" th:if="${checkout}" th:text="${carModel}"></span>
                <label for="pickup_date_user_account">Початок</label>
                <input id="pickup_date_user_account" name="dateBegin" type="date"
                       th:value="${checkout} ? ${orderDateBegin} : ${currentDate}"
                       placeholder="ДД-ММ-РРРР" th:min="${currentDate}" required th:disabled="${checkout}">
                <label for="drop-off_date_user_account">Кінець</label>
                <input id="drop-off_date_user_account" name="dateEnd" type="date"
                       th:value="${checkout} ? ${orderDateEnd}"
                       th:min="${currentNextDate}"
                       placeholder="ДД-ММ-РРРР" required th:disabled="${checkout}">
            </div>
            <div class="order_entry_form_level_user_account">
                <div class="aux_checkbox_user_account_block">
                    <input id="aux_checkbox_user_account_block" type="checkbox"
                           value="true" th:checked="${auxNeeded}"
                           th:name="auxNeeded" th:disabled="${checkout}"/>
                    <label for="aux_checkbox_user_account_block">GPS (€ 10/доба)</label>
                </div>
                <div class="payment_block"><span>Cплатити: </span>
                    <input id="prepayment" type="radio" th:name="payment" value="30"
                           th:checked="${paymentId == 30}" th:disabled="${checkout}" required/>
                    <label for="prepayment"><span>30% оренди</span></label>
                </div>
                <div class="payment_block">
                    <input id="full_pay" type="radio" th:name="payment" value="100"
                           th:checked="${paymentId == 100}" th:disabled="${checkout}"/>
                    <label for="full_pay">100% оренди</label>
                </div>
            </div>
            <div class="order_entry_form_level_user_account">
                <input type="submit" th:unless="${checkout}" th:formaction="@{'/orders/checkout/'+${user.id}}"
                       value="Розрахунок" class="button_user_account">
                <input type="submit" value="Оформити" class="button_user_account"
                       th:unless="${user.accessLevel.toString()} == 'BLOCKED'">
                <input type="submit" th:if="${checkout}" th:formaction="@{'/users/account/'+${user.id}}"
                       th:formmethod="get" value="Скинути" class="orange_button">

                <!--th:disabled="${checkout}" -->
            </div>
        </form>
    </div>

    <!-- ORDER CHECKOUT POP-UP -->
    <div class="user_order_checkout_block" th:if="${checkout}">
        <div class="checkout_unit">Тривалість: <strong th:text="${duration} + ' діб'"></strong></div>
        <div class="checkout_unit">Вартість за добу: €<strong th:text="${price}"></strong></div>
        <div class="checkout_unit">Прокат GPS: €<strong th:text="${auxPayment}"></strong></div>
        <div class="checkout_unit">Орендна плата: €<strong th:text="${deductible}"></strong></div>
        <div class="checkout_unit">Депозит: €<strong th:text="${deposit}"></strong></div>
        <div class="checkout_total">Разом: €<strong th:text="${totalCheckout}"></strong></div>
    </div>

    <!--USER ORDERS READOUT SECTION-->
    <div class="order_header">
        <p th:if="${!userOrdersList.isEmpty}">Ваші замовлення</p>
        <p th:if="${userOrdersList.isEmpty}">Замовлень поки немає</p>
    </div>
    <table class="order_table" th:unless="${userOrdersList.isEmpty}">
        <thead>
        <tr class="order_table_legend">
            <th>Марка</th>
            <th>Початок</th>
            <th>Кінець</th>
            <th>Тривалість</th>
            <th>Сума</th>
            <th>Сплачено</th>
            <th>Депозит</th>
            <th>Сума GPS</th>
            <th>Статус</th>
            <th colspan="4">Дія</th>
        </tr>
        </thead>
        <tbody>

        <tr th:class="${currentDate lt order.dateEnd and order.status.name() != 'CANCELLED'} ? order : order_expired"
            th:each="order : ${userOrdersList}">
            <td class="order_unit" th:text="${order.car.model}"></td>
            <td class="order_unit" th:text="${order.dateBegin}"></td>
            <td class="order_unit" th:text="${order.dateEnd}"></td>
            <td class="order_unit" th:text="${order.duration}+' діб'"></td>
            <td class="order_unit" th:text="'€'+${order.amount}"></td>
            <td class="order_unit" th:text="'€'+${order.rentalPayment}"></td>
            <td class="order_unit" th:text="'€'+${order.deposit}"></td>
            <td class="order_unit" th:text="${order.auxPayment}"></td>
            <td class="order_unit" th:text="${order.status.str}"></td>
            <td class="buttons_order_unit"
                th:if="${currentDate lt order.dateBegin
                and order.status.name() != 'CANCELLED'
                and user.accessLevel.name() != 'BLOCKED'}">
                <form action="#" th:action="@{'/orders/'+${order.user.id} + '/cancel/' + ${order.id}}"
                      th:method="delete">
                    <button type="submit" class="delete_ico_orderlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Скасувати"/>
                    </button>
                </form>
            </td>
            <td class="buttons_order_unit"
                th:if="${currentDate lt order.dateBegin
                and order.status.name() != 'CANCELLED'
                and order.status.name() != 'PAID'}">

                <a href="edit.html" th:href="@{'/edit/'+${order.id}+'/order'}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            <td class="buttons_order_unit" th:unless="${order.status.name() == 'PAID'
                                                     or order.status.name() == 'CANCELLED'
                                                     or order.status.name() == 'RECEIVED'
                                                     or order.status.name() == 'COMPLETE'}">
                <form action="#" th:action="@{'/orders/pay/'+${order.id}+'/user/'+${user.id}}" th:method="patch">
                    <button type="submit" class="pay_ico_orderlist">
                        <img th:src="@{/img/green_euro_icon.png}" title="Доплатити різницю"/>
                    </button>
                </form>
            </td>

            <td class="buttons_order_unit" th:if="${order.status.name() == 'PAID' and order.dateBegin == currentDate}">
                <form action="#" th:action="@{'/orders/pickup/'+${order.id}+'/user/'+${user.id}}" th:method="patch">
                    <button type="submit" class="pay_ico_orderlist">
                        <img th:src="@{/img/manager-button.png}" title="Отримати авто"/>
                    </button>
                </form>
            </td>

            <td class="buttons_order_unit" th:if="${order.status.name() == 'RECEIVED'}">
                <form action="#" th:action="@{'/orders/return/'+${order.id}+'/user/'+${user.id}}" th:method="patch">
                    <button type="submit" class="pay_ico_orderlist">
                        <img th:src="@{/img/return-car-button.png}" title="Повернути авто"/>
                    </button>
                </form>
            </td>


        </tr>
        </tbody>
    </table>

    <h5 class="user_hints_block">Редагувати і скасовувати замовлення можна лише <strong>до</strong> моменту його
        початку. В такому разі користувачу протягом <strong>1</strong> дня повертається сума сплаченої оренди та
        депозит. В разі, якщо користувач не з'явився для отримання замовлення <strong>(no-show)</strong>,
        сума сплаченої оренди та депозиту <strong>не повертається</strong>. Дочасне повернення автомобіля допускається,
        але вартість оренди не перереховується і не компенсовується.
    </h5>
</div>
</body>
</html>