<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Автопрокат ::: Панель користувача</title>
</head>
<body>

<div class="wrapper">
    <header>
        <h1 class="title">Панель користувача</h1>
        <div class="errorLowBalance" th:if="${lowBalanceError}">
            <span>Недостатньо коштів на рахунку. Поповніть баланс</span>
        </div>
        <div class="top-up_panel">
            <form action="#" th:modelAttribute="balance" th:action="@{'/users/' + ${user.id}+'/top-up'}"
                  th:method="patch">
                <label for="balance_input" id="balance">€</label>
                <input id="balance_input" name="balance" type="text" placeholder="100"
                       title="Введіть число" required pattern="\d+[.]?\d*">
                <input type="submit" value="Поповнити баланс" class="button">
            </form>
        </div>
    </header>

    <div class="buttons_block">
        <form action="/" method="get">
            <input type="submit" value="Головна" class="button">
        </form>
    </div>

    <!--USER READOUT SECTION-->
    <div class="user_data_block_USER_ACCOUNT">
        <div class="users_header">Ваші дані</div>
        <div class="user">
            <div class="user_name" th:text="${user.name}"></div>
            <div class="user_unit" th:text="${user.email}"></div>
            <div class="user_unit" th:text="'Паспорт: ' + ${user.passportData}"></div>
            <div class="user_unit">Баланс: €<span class="user_solecard_values" th:text="${user.balance}"></span></div>

            <div class="user_solecard_action_buttons_block">
                <a class="edit_ico_orderlist" href="edit.html" th:href="@{'/edit/'+${user.id}+'/user'}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </div>
        </div>
    </div>

    <!--ORDER ENTRY FORM SECTION-->
    <h4 class="order_entry_form_section_USER_ACCOUNT"></h4>
    <div class="order_header_user_account">Нове замовлення:</div>
    <h5 class="user_hints_block">Для бронювання потрібно внести завдаток <strong>30%</strong> повної вартості оренди,
        після чого на рахунку буде заблокована сума страхового депозиту в розмірі <strong>€1000</strong>. В разі
        внесення <strong>100%</strong> коштів вартості оренди, сума депозиту становить <strong>€500</strong>.
        Для отримання авто потрібно оплатити замовлення повністю. Сума страхового депозиту буде
        розблокована протягом <strong>3</strong> днів після повернення авто до прокатної служби.
    </h5>
    <div class="order_entry_form_block_user_account">
        <form action="#" th:action="@{'/orders/user-acc/'+${user.id}}" th:method="post">
            <div class="order_entry_form_level_user_account">
                <label for="order_model">Марка</label>
                <select class="select_button_user_account" id="order_model" name="car_id">
                    <option th:each="car : ${carList}" th:value="${car.id}"
                            th:text="${car.model}"></option>
                </select>
                <label for="pickup_date_user_account">Початок</label>
                <input id="pickup_date_user_account" name="dateBegin" type="date" th:value="${currentDate}"
                       placeholder="ДД-ММ-РРРР" th:min="${currentDate}" required>
                <label for="drop-off_date_user_account">Кінець</label>
                <input id="drop-off_date_user_account" name="dateEnd" type="date" th:min="${currentNextDate}"
                       placeholder="ДД-ММ-РРРР" required>
            </div>
            <div class="order_entry_form_level_user_account">
                <div class="aux_checkbox_user_account_block">
                    <input id="aux_checkbox_user_account_block" type="checkbox"
                           checked value="true" th:checked="${auxNeeded}" name="auxNeeded"/>
                    <label for="aux_checkbox_user_account_block">GPS (€ ..)</label>
                </div>
                <div class="payment_block">
                    <input id="prepayment" type="radio" th:name="payment" value="30" checked/>
                    <label for="prepayment"><span>Cплатити 30% (€ ..)</span></label>
                </div>
                <div class="payment_block">
                    <input id="full_pay" type="radio" th:name="payment" value="100"/>
                    <label for="full_pay">100% (€ ..)</label>
                </div>
            </div>
            <input type="submit" value="Рахувати суму" class="button_user_account">
            <input type="submit" value="Оформити" class="button_user_account">
        </form>
    </div>

    <div class="errorDatesAssignUserAccount" th:if="${errorDatesAssign}">
        <span>Помилка встановлення дати</span>
    </div>
    <div class="errorBlockedUser" th:if="${blockedUserError}">
        <span>Користувача заблоковано: замовлення скасовано</span>
    </div>
    <div class="errorCarNotAvailable" th:if="${carNotAvailError}">
        <span>Вибачте, автомобіль недоступний</span>
    </div>




    <!--USER ORDERS READOUT SECTION-->
    <div class="order_header">
        <p th:if="${!userOrdersList.isEmpty}">Ваші замовлення</p>
        <p th:if="${userOrdersList.isEmpty}">Замовлень поки немає</p>
    </div>
    <table class="order_table" th:unless="${userOrdersList.isEmpty}">
        <thead>
        <tr class="order_table_legend">
            <th>Марка</th>
            <th>Початок</th>
            <th>Кінець</th>
            <th>Тривалість</th>
            <th>Сума</th>
            <th>Сплачено</th>
            <th>Депозит</th>
            <th>GPS</th>
            <th>Статус</th>
            <th colspan="3">Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order" th:each="order : ${userOrdersList}">
            <td class="order_unit" th:text="${order.car.model}"></td>
            <td class="order_unit" th:text="${order.dateBegin}"></td>
            <td class="order_unit" th:text="${order.dateEnd}"></td>
            <td class="order_unit" th:text="${order.duration}+' діб'"></td>
            <td class="order_unit" th:text="'€'+${order.amount}"></td>
            <td class="order_unit" th:text="'€'+${order.rentalPayment}"></td>
            <td class="order_unit" th:text="'€'+${order.deposit}"></td>
            <td class="order_unit" th:text="${order.auxNeeded}"></td>
            <td class="order_unit" th:text="${order.status}"></td>
            <td class="buttons_order_unit">
                <form action="#" th:action="@{'/orders/'+${order.id} + '/user-acc/' + ${order.user.id}}"
                      th:method="delete">
                    <button type="submit" class="delete_ico_orderlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_order_unit">
                <a href="edit.html" th:href="@{'/edit/'+${order.id}+'/order'}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            <td class="buttons_order_unit">
                <a href="pay.html" th:href="@{'/pay/'+${order.id}}">
                    <img th:src="@{/img/green_euro_icon.png}" th:title="Оплатити"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>